<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/favicon.png" type="image/x-icon">
    <title>YouTube Downloader </title>
</head>

<body>

    <nav class="navbar">
        <div class="logo">
            <img src="/static/favicon.png" alt="LogoImage">
            <span>NovaTube Downloader</span>
        </div>

        <div class="rightnav">
            <ul class="navitems">

                <li><a href="#">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
    </nav>
    
    <section class="section1">
        <div class="box">
            <div class="btextbox">
            <h2 class="brandtext">YouTube Downloader </h2>
            </div>

            <div class="card">
             <div class="stext">
                <img src="/static/favicon.png" alt="" srcset="">
                
            <span>Free YouTube Downloader</span>
           
            </div>

            <div class="cardarea">
                
            </div>

            <form action="/download" method="post">

            <div class="iparea">
                <input type="text" name="url" id="url" placeholder="Paste YouTube video link" required>
            </div>

            <div class="download-btn">
                <button class="dbtn" type="submit" >Download Video
                    <img src="/static/d.svg" alt="Download Icon"></button>
            </div>

            </form>


        </div>  
        </div>


    </section>

<footer>

    <p style="text-align: center;font: 1.6em sans-serif;margin-top: -111px;">Please report the bugs here  <a href="mailto:sudocorporations@gmail.com">Harsh V.</a></p>
</footer>


</body>

</html>